p{color: white; font-size :large;}

h1{color: white;}

ol{color: white; font-size :medium;}

html{background-color: plum;}

.highlight_01 {background-color: black;}

.highlight_02 {background-color: pink;}

img {width: 300px}